body {
    font-family: Arial, sans-serif;
    background: rgb(11,36,26);
    background: linear-gradient(151deg, rgba(11,36,26,1) 0%, rgba(0,0,0,1) 100%);
    margin: 0;
    color: white;

}
/*header edit*/
.header{
    display: flex;
    padding: 5vh;
    padding-bottom: 0;
    justify-content: space-between;
}

.header > img{
    width: 10vw;
}

.header span{
    font-weight: bold;
    cursor: pointer;
}

.header span:hover{
    color: rgb(0,220,130);
}

.container {
    padding: 5vh;
    display: flex;
    flex-direction: raw;
    gap: 20px;
    height: 80vh;
}

.left_container{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right_container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*add cost*/
.addCost_container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1em;
    height: 4em;
    margin-bottom: 1em;
}

.addCost_container input{
    border: none;
    background-color: rgba(255, 255, 255, 0.065);
    color: white;
    font-size: 1.2em;
    justify-content: center;
    border-radius: 0.5em;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.addCost_container button{
    background: rgb(0,220,130);
    background: linear-gradient(45deg, rgba(0,220,130,1) 0%, rgba(0,214,126,1) 35%, rgba(116,255,199,1) 100%);
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 4em 0.5em 4em;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#category{
    border: none;
    background-color: rgba(255, 255, 255, 0.065);
    color: white;
    font-size: 1.2em;
    justify-content: center;
    border-radius: 0.5em;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    -webkit-appearance: none;
}

/*calendar*/
.calendar_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.calendar_header{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 2em;
}

.monthYear{
    font-weight: bold;
    font-size: 2em;
}

.calendar_header button{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 200px;
}

.calendar_header button:hover{
    background-color: rgba(0,220,130,0.5);
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 1em;
    font-weight: bold;
}

.day{
    text-align: center;
    padding: 5px;

}

.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    height: 100%;
}

.date{
    border-radius: 0.4em;
    padding: 0.4em;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.date:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.date.inactive{
    background-color: rgba(255, 255, 255, 0.02);
    color: #575757;
}

/*data bar*/
.graph_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1em;
    gap: 10px;
}

.fiance_summary {
    display: flex;
    flex-direction: column;
    background: rgb(0,220,130);
    background: linear-gradient(45deg, rgba(0,220,130,1) 0%, rgba(0,214,126,1) 35%, rgba(116,255,199,1) 100%);
    border-radius: 0.5em;
    padding: 1em;
    filter: drop-shadow(0px 0px 15px rgba(0,220,130,0.5));
}

.full_spend{
    font-size: 4em;
    font-weight: bold;
}

.compa_previes{
    margin-top: 1em;
    background-color: white;
    width: max-content;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 200px;
    font-weight: bold;
    color: #005555;
}

.finance_graph {
    width: 100%;
    flex: 2;
}

/*popup*/
.popup_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    backdrop-filter: blur(5px);
    border-radius: 1em;
}